<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <%- include('../partials/head') %>
</head>

<body class="stretched">
	<%- include('../partials/gtm') %>
	<%- include('../partials/messenger') %>
	<div id="wrapper" class="clearfix">

		<header id="header" class="full-header border-full-header static-sticky">
			<%- include('../partials/header') %>
		</header>

		<section id="slider" style="padding-top: 240px; padding-bottom: 30px;">
			<div class="container">
				<div class="row">
					<div class="col-md-5 norightpadding">
						<h2 class="divcenter font-body t300 ls1" style="max-width: 700px; font-size: 40px; color: #034694;"><b>Giải pháp</b><br>Công nghệ Giáo dục</h2>
						<p class="lead divcenter bottommargin" style="text-align: justify;">Với những giải pháp công nghệ tốt nhất cho EdTech, ClassOn là nền tảng giúp cho việc dạy và học online dễ dàng và hiệu quả nhất.</p>
						<a href="#" data-scrollto="#section-pricing" data-offset="40" data-easing="easeInOutExpo" data-speed="1250" style="padding-top: 10px; padding-bottom: 10px;"><div class="button button-border button-circle t500 noleftmargin topmargin-sm1">Sử dụng miễn phí</div></a>
						<p><i>Sử dụng ClassOn Starter miễn phí vĩnh viễn</i></p>
					</div>
					<div class="col-md-7 nopadding">
						<img src="/static/images/landing.jpeg" alt="">
					</div>
				</div>
			</div>
		</section>

		<section id="content">
			<div class="content-wrap nopadding">
				<div id="section-values" class="page-section notoppadding nobottompadding" style="margin-top: 180px; background-color: #034694;">
					<div class="section nobottompadding nobottommargin" style="overflow: visible; background-color: #034694;">
						<div class="container clearfix" style="margin-top: -200px; background-color: #ADD7F6; border-radius: 15px;">
							<div class="divcenter center" style="padding: 30px 0;">
								<h2 class="divcenter font-body t300 ls1" style="font-size: 40px; color: #034694;">Đong đầy kiến thức mọi lúc, mọi nơi.</h2>
								<h2 class="nobottommargin t300 ls1">ClassOn mang tới một giải pháp đơn giản và nhanh nhất để truyền đạt kiến thức đi khắp mọi nơi, phù hợp với mọi người, kể cả người không có nhiều kiến thức và kỹ năng về công nghệ.</h2>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row align-items-stretch topmargin-lg clearfix">
							<div class="col-lg-4 col-md-6" style="background-color: #034694;">
								<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
									<div class="fbox-icon">
										<a href="#"><i class="icon-et-gears" style="color: #FFFFFF;"></i></a>
									</div>
									<h3 style="color: #FFFFFF; font-size: 1.25rem; font-weight: 400; height: 70px;">CÁ NHÂN HÓA VÀ TƯƠNG TÁC CAO</h3>
									<p class="lead" style="color: #FFFFFF; font-size: 1rem;">ClassOn mang đến những công cụ trực tuyến đơn giản và mạnh mẽ giúp tối ưu hóa trải nghiệm công nghệ giáo dục cho khách hàng.</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-6" style="background-color: #034694;">
								<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
									<div class="fbox-icon">
										<a href="#"><i class="icon-et-genius" style="color: #FFFFFF;"></i></a>
									</div>
									<h3 style="color: #FFFFFF; font-size: 1.25rem; font-weight: 400; height: 70px;">GIẢI PHÁP NỀN TẢNG GIÁO DỤC CHUYÊN NGHIỆP</h3>
									<p class="lead" style="color: #FFFFFF; font-size: 1rem;">Chúng tôi thúc đẩy việc học tập và thu nạp kiến thức bằng cách mang tới một giải pháp giáo dục trực tuyến chuyên nghiệp. Trong đó chúng tôi sử dụng những phương pháp nổi tiếng, hiện đại như là: Flipped Classroom, E-Learning và Virtual Classroom.</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-6" style="background-color: #034694;">
								<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
									<div class="fbox-icon">
										<a href="#"><i class="icon-et-hotairballoon" style="color: #FFFFFF;"></i></a>
									</div>
									<h3 style="color: #FFFFFF; font-size: 1.25rem; font-weight: 400; height: 70px;">CÔNG DÂN QUỐC TẾ - MÔI TRƯỜNG QUỐC TẾ</h3>
									<p class="lead" style="color: #FFFFFF; font-size: 1rem;">Sẽ không có những bất cập về khoảng cách cũng như giao tiếp giữa giảng viên và người tham dự. Mọi người sẽ được tham gia và trải nghiệm vào những lớp học tưởng chừng như “vật lý” bất kể mọi khoảng cách địa lý.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<section id="section-pricing" class="section pricing-section nomargin dark nobottompadding" style="background: linear-gradient(0, #87BFFF, #034694);">
					<div class="container clearfix">
						<h2 class="bottommargin bottompadding font-body t300 ls1" style="font-size: 40px; color: #fff;">Bảng giá</h2>
						<div class="pricing pricing--norbu">
							<div class="pricing--item">
								<h3 class="pricing--title">Khởi Đầu</h3>
								<div class="pricing--price"><span class="pricing--currency">đ</span>0<span class="pricing--period">/ tháng</span></div>
								<a href="<%= registration_url %>/starter"><div class="button button-border button-circle t500" style="margin-top: 15px;">Đăng ký</div></a>
								<p class="pricing--feature-header">Quản lý lớp học:</p>
								<ul class="pricing--feature-list nobottompadding">
									<li class="pricing--feature">1 giảng viên</li>
									<li class="pricing--feature">3 lớp học(*)</li>
									<li class="pricing--feature">500 MB dung lượng lưu trữ</li>
									<li class="pricing--feature">Không có trợ giảng</li>
									<li class="pricing--feature">Không có dự giờ</li>
								</ul>
								<p class="pricing--feature-header">Phòng học trực tuyến:</p>
								<ul class="pricing--feature-list nobottompadding">
									<li class="pricing--feature">1 phòng học trực tuyến</li>
									<li class="pricing--feature">Tối đa 30 học viên trong 1 phòng học</li>
									<li class="pricing--feature">Sử dụng tối đa 2 giờ(*)</li>
									<li class="pricing--feature">Không ghi hình buổi học(*)</li>
								</ul>
								<a href="<%= registration_url %>/starter"><div class="button button-border button-circle t500" style="margin: 15px 0;">Đăng ký</div></a>
							</div>
							<div class="pricing--item">
								<h3 class="pricing--title">Nâng Cao</h3>
								<div class="pricing--price"><span class="pricing--currency">đ</span>500.000<span class="pricing--period">/ tháng</span></div>
								<a href="<%= registration_url %>/advanced"><div class="button button-border button-circle t500" style="margin-top: 15px;">Đăng ký</div></a>
								<p class="pricing--feature-header">Quản lý lớp học:</p>
								<ul class="pricing--feature-list nobottompadding">
									<li class="pricing--feature">1 giảng viên</li>
									<li class="pricing--feature">10 lớp học(*)</li>
									<li class="pricing--feature">2 GB dung lượng lưu trữ</li>
									<li class="pricing--feature">Không có trợ giảng</li>
									<li class="pricing--feature">Không có dự giờ</li>
								</ul>
								<p class="pricing--feature-header">Phòng học trực tuyến:</p>
								<ul class="pricing--feature-list nobottompadding">
									<li class="pricing--feature">1 phòng học trực tuyến</li>
									<li class="pricing--feature">Tối đa 50 học viên trong 1 phòng học</li>
									<li class="pricing--feature">Sử dụng tối đa 4 giờ(*)</li>
									<li class="pricing--feature">Ghi hình buổi học(*)</li>
								</ul>
								<a href="<%= registration_url %>/advanced"><div class="button button-border button-circle t500" style="margin: 15px 0;">Đăng ký</div></a>
							</div>
							<div class="pricing--item pricing--item--featured">
								<h3 class="pricing--title">Chuyên Nghiệp</h3>
								<div class="pricing--price"><span class="pricing--currency">đ</span>1.000.000<span class="pricing--period">/ tháng</span></div>
								<a href="<%= registration_url %>/pro"><div class="button button-border button-circle t500" style="margin-top: 15px;">Đăng ký</div></a>
								<p class="pricing--feature-header">Quản lý lớp học:</p>
								<ul class="pricing--feature-list nobottompadding">
									<li class="pricing--feature">3 giảng viên</li>
									<li class="pricing--feature">30 lớp học(*)</li>
									<li class="pricing--feature">10 GB dung lượng lưu trữ</li>
									<li class="pricing--feature">3 trợ giảng</li>
									<li class="pricing--feature">3 dự giờ</li>
								</ul>
								<p class="pricing--feature-header">Phòng học trực tuyến:</p>
								<ul class="pricing--feature-list nobottompadding">
									<li class="pricing--feature">3 phòng học trực tuyến</li>
									<li class="pricing--feature">Tối đa 50 học viên trong 1 phòng học</li>
									<li class="pricing--feature">Sử dụng tối đa 8 giờ(*)</li>
									<li class="pricing--feature">Ghi hình buổi học(*)</li>
								</ul>
								<a href="<%= registration_url %>/pro"><div class="button button-border button-circle t500" style="margin: 15px 0;">Đăng ký</div></a>
							</div>
							<div class="pricing--item">
								<h3 class="pricing--title">Mở rộng</h3>
								<div class="pricing--price"><span class="pricing--currency">đ</span>3.000.000<span class="pricing--period">/ tháng</span></div>
								<a href="<%= registration_url %>/scale"><div class="button button-border button-circle t500" style="margin-top: 15px;">Đăng ký</div></a>
								<p class="pricing--feature-header">Quản lý lớp học:</p>
								<ul class="pricing--feature-list nobottompadding">
									<li class="pricing--feature">10 giảng viên</li>
									<li class="pricing--feature">Không giới hạn lớp học</li>
									<li class="pricing--feature">50 GB dung lượng lưu trữ</li>
									<li class="pricing--feature">10 trợ giảng</li>
									<li class="pricing--feature">10 dự giờ</li>
								</ul>
								<p class="pricing--feature-header">Phòng học trực tuyến:</p>
								<ul class="pricing--feature-list nobottompadding">
									<li class="pricing--feature">10 phòng học trực tuyến</li>
									<li class="pricing--feature">Tối đa 50 học viên trong 1 phòng học</li>
									<li class="pricing--feature">Sử dụng tối đa 24 giờ(*)</li>
									<li class="pricing--feature">Ghi hình buổi học(*)</li>
								</ul>
								<a href="<%= registration_url %>/scale"><div class="button button-border button-circle t500" style="margin: 15px 0;">Đăng ký</div></a>
							</div>
						</div>
						<ul style="padding: 0 30px; font-style: italic;">
							<li>Gói Starter được áp dụng cho việc dạy và học. Chúng tôi bảo lưu quyền từ chối phục vụ nếu bạn dùng ClassOn vào mục đích khác.</li>
							<li>Số lớp học có hiệu lực tại 1 thời điểm(*): Là số lớp học được để ở chế độ xuất bản (published) để học viên có thể tham gia. Khi 1 lớp học kết thúc, bạn có thể ẩn đi để không ảnh hưởng tới số lớp học còn hiệu lực.</li>
							<li>Ghi hình buổi dạy online(*): Dung lượng file ghi hình sẽ được tính vào dung lượng lưu trữ tài liệu online. Bạn có thể tải về rồi xoá bớt file cũ để chúng không chiếm dung lượng online.</li>
							<li>Thời gian tối đa mỗi lần sử dụng phòng học online(*): Khi hết giờ, bạn có thể tạo lại phòng học online mới để tiếp tục dạy học, hoặc tạo sẵn nhiều phòng học online rồi kích hoạt khi cần dùng.</li>
							<li>Mua 3 tháng giảm 10%, 12 tháng giảm 20%</li>
							<li>Khi đăng ký, bạn được dùng thử gói Mở Rộng 2 tháng miễn phí, không cần thanh toán trước, không cần thẻ tín dụng.</li>
							<li>
								Nhằm hỗ trợ mang kiến thức đến các vùng nông thôn và hỗ trợ những tổ chức phi chính phủ, chúng tôi giảm giá 50% đối với:
								<ul style="padding: 0 15px; font-style: italic;">
									<li>Các giảng viên cư trú tại khu vực ưu tiên 1 (KV1) và khu vực 2 nông thôn (KV2-NT) theo quy định của bộ giáo dục.</li>
									<li>Các tổ chức phi lợi nhuận.</li>
								</ul>
							</li>
						</ul>
						<p class="lead" style="color: #FFFFFF; font-size: 1.5rem;">Tính năng:</p>
						<div class="row clearfix">
							<div class="col-lg-6 col-md-6">
								<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
									<h3 style="color: #FFFFFF; font-size: 1rem; font-weight: 400;">Quản lý lớp học</h3>
									<ul class="center nobottompadding">
										<li class="no--list">Quản lý bài tập</li>
										<li class="no--list">Ngân hàng câu hỏi</li>
										<li class="no--list">Quản lý bài kiểm tra</li>
										<li class="no--list">Hệ thống lưu trữ tài liệu</li>
										<li class="no--list">Quản lý học sinh không giới hạn</li>
										<li class="no--list">Diễn đàn thảo luận cho lớp học</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
									<h3 style="color: #FFFFFF; font-size: 1rem; font-weight: 400;">Phòng học trực tuyến</h3>
									<ul class="center nobottompadding">
										<li class="no--list">Kiểm tra nhanh</li>
										<li class="no--list">Chia sẻ màn hình</li>
										<li class="no--list">Bảng vẽ trực tuyến</li>
										<li class="no--list">Tương tác thời gian thực</li>
										<li class="no--list">Thảo luận chung và riêng</li>
										<li class="no--list">Ghi chú chung trong lớp học</li>										
										<!-- <li class="no--list">Phụ đề</li>
										<li class="no--list">Webcam</li> -->
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="section nomargin" style="background-color: #ADD7F6;">
						<div class="divcenter center" style="max-width: 900px;">
							<h2 class="nobottommargin t300 ls1" style="color: #034694">Giải pháp dành cho Enterprise? <a href="#" data-scrollto="#footer" data-offset="140" data-easing="easeInOutExpo" data-speed="1250" class="button button-border button-circle t500 notopmargin nobottommargin" style="position: relative; top: -3px;">Liên hệ với chúng tôi</a></h2>
						</div>
					</div>
				</section>

				<div id="section-about-us" class="center page-section nobottompadding">
					<div class="container clearfix">
						<h2 class="divcenter bottommargin font-body t300 ls1" style="font-size: 40px; color: #034694;">Về chúng tôi</h2>
						<p class="lead divcenter bottommargin" style="text-align: justify;">ClassOn (CLO) được thành lập vào năm 2019 với mục đích phát triển các giải pháp công nghệ giáo dục hàng đầu ASEAN. ClassOn, một trong những đội ngũ tiên phong tích hợp những công nghệ giáo dục hiện đại vào mô hình lớp học trực tuyến tại Việt Nam, đã và đang xây dựng một nền tảng giáo dục trực tuyến từ năm 2019. Qua nền tảng này, ClassOn sẽ giới thiệu và đưa ra các công cụ, nền tảng chuyên nghiệp, dễ tiếp cận và mạnh mẽ để giảng dạy trực tuyến trong toàn ngành giáo dục Việt Nam và ASEAN.</p>
						<p class="lead divcenter bottommargin" style="text-align: justify;"><b>ClassOn tin rằng</b><br>Giáo dục phải dành cho tất cả mọi người. Tuy nhiên, việc tiếp cận một nền tảng giáo dục hiện đại, tiên tiến vẫn là một trong những vấn đề lớn nhất của thế giới, không loại trừ những khu vực phát triển và đang phát triển. Thế nên, chúng tôi mong muốn phát triển nền tảng của mình có thể giúp việc giáo dục trở nên dễ tiếp cận hơn ở bất cứ nơi đâu, bất kỳ lúc nào và đặc biệt là ngay cả ở những nơi mà nguồn giáo viên bị hạn chế.</p>
						<p class="lead divcenter bottommargin" style="text-align: justify;"><b>ClassOn tin rằng</b><br>Cách dạy tốt nhất là đặt học sinh làm trung tâm. Chúng tôi muốn nền tảng này không chỉ tiếp cận nhiều học sinh hơn mà còn thay đổi được cả phương pháp dạy và học. Từ đó, chúng tôi bắt đầu phát triển các công cụ để giúp giáo viên giảng dạy một cách hiệu quả hơn và cũng qua các công cụ đó, học sinh có thể học tập một cách tích cực hơn, chủ động hơn và hiệu quả hơn. Ngoài ra, với mô hình Blended Learning, ClassOn sẽ phát triển nền tảng giáo dục có thể đảm bảo cho việc kết hợp tốt nhất cho việc dạy học trực tiếp và trực tuyến.</p>
						<p class="lead divcenter bottommargin" style="text-align: justify;"><b>ClassOn muốn rằng</b><br>Các lớp học trực tuyến phải có tính tương tác cao, vì vậy chúng tôi đã phát triển các công cụ để hỗ trợ cho vấn đề cộng tác giữa người dạy và người học. Chúng tôi tin rằng học sinh học tốt nhất khi chúng được kết nối và tương tác liên tục với giáo viên. Vậy nên chúng tôi đã phát triển một nền tảng công nghệ giáo dục có khả năng giúp giáo viên có thể vẽ, nhập liệu và tải nhiều tệp tin khách lên bảng trắng ảo bằng những công tụ hỗ trợ mạnh mẽ, và trong cùng thời điểm đó học sinh cũng có thể tương tác với tài liệu trên màn hình và kết nối với giáo viên qua video và micro.</p>
						<p class="lead divcenter bottommargin" style="text-align: justify;"><b>ClassOn tâm niệm</b><br>Sẽ cung cấp các giải pháp về công nghệ giáo dục, dành cho những khách hàng muốn dạy, muốn học và muốn chia sẻ kiến thức không chỉ trong nước, mà còn vươn ra toàn cầu. Tuy nhiên lại không cần phải có những kỹ năng sử dụng công nghệ “hoành tráng”. Cuối cùng, nền tảng ClassOn là một nền tảng công nghệ giáo dục hướng đến việc kết nối giáo dục bằng những công nghệ hiện đại cho các công dân “toàn cầu” tương lai.</p>
					</div>
				</div>

				<!-- <div class="row col-padding notoppadding clearfix">
					<div class="col-lg-3 col-md-6">
						<div class="team">
							<div class="team-image">
								<img src="/static/images/team/duc-trinh.png" alt="TRỊNH ANH ĐỨC">
							</div>
							<div class="team-desc">
								<div class="team-title">
									<h4>TRỊNH ANH ĐỨC</h4>
									<span><i>Đồng sáng lập</i></span>
									<span><i>Giám đốc điều hành</i></span>
									<p class="lead topmargin-sm" style="font-size: 1rem; text-align: justify; margin-bottom: 10px;">Đồng sáng lập của DataPower.</p>
									<p class="lead" style="font-size: 1rem; text-align: justify;">Là người có kiến thức sâu rộng trong các lĩnh vực giáo dục, công nghệ và quan hệ doanh nghiệp, Đức đã định hình các sản phẩm của ClassOn với mong muốn được cống hiến xây dựng một nền tảng hiện đại cho nền giáo dục của Việt Nam.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="team">
							<div class="team-image">
								<img src="/static/images/team/hung-le.png" alt="LÊ MINH HÙNG">
							</div>
							<div class="team-desc">
								<div class="team-title">
									<h4>LÊ MINH HÙNG</h4>
									<span><i>Đồng sáng lập</i></span>
									<span><i>Giám đốc chiến lược</i></span>
									<p class="lead topmargin-sm" style="font-size: 1rem; text-align: justify;">Có hơn 15 năm kinh nghiệm về phát triển và vận hành các sản phẩm SaaS (Software As A Service) đạt GMV hàng trăm triệu USD/sản phẩm của các tập đoàn đa quốc gia của Mỹ, Thụy Sỹ, và Việt Nam. Hùng giúp hoạch định và thực thi các chiến lượt để ClassOn là một tổ chức liên tục sáng tạo, cải tiến, và phát triển bền vững về vận hành và kinh doanh.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="team">
							<div class="team-image">
								<img src="/static/images/team/cuong-dao.png" alt="ĐÀO QUỐC CƯỜNG">
							</div>
							<div class="team-desc">
								<div class="team-title">
									<h4>ĐÀO QUỐC CƯỜNG</h4>
									<span><i>Đồng sáng lập</i></span>
									<span><i>Giám đốc vận hành</i></span>
									<p class="lead topmargin-sm" style="font-size: 1rem; text-align: justify; margin-bottom: 10px;">4 năm hoạt động trong lĩnh vực quản lý và vận hành chuỗi sản phẩm phần mềm cho công ty PTSC, trực thuộc Tập đoàn Dầu khí Quốc gia Việt Nam.</p>
									<p class="lead" style="font-size: 1rem; text-align: justify; margin-bottom: 10px;">Tốt nghiệp top 5%, Dean’s merit list tại trường Western Sydney, Úc.</p>
									<p class="lead" style="font-size: 1rem; text-align: justify;">Là Giám đốc mảng hoạt động doanh nghiệp, Cường có trách nhiệm quản lý và vận hành công việc hàng ngày của ClassOn. Với mong muốn áp dụng kiến thức và công nghệ cao vào việc vận hành cũng như quản trị, ClassOn sẽ được xây dựng một môi trường doanh nghiệp năng động, trẻ trung, sáng tạo và sẽ được vận hành một cách hiệu quả nhất.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="team">
							<div class="team-image">
								<img src="/static/images/team/viet-nguyen.png" alt="NGUYỄN ĐỨC VIỆT">
							</div>
							<div class="team-desc">
								<div class="team-title">
									<h4>NGUYỄN ĐỨC VIỆT</h4>
									<span><i>Đồng sáng lập</i></span>
									<span><i>Giám đốc công nghệ</i></span>
									<p class="lead topmargin-sm" style="font-size: 1rem; text-align: justify; margin-bottom: 10px;">Nhà sáng lập và CEO của GoodyChat, công ty chuyên cung cấp những hệ thống phần mềm doanh nghiệp, trong đó có hệ thống quan trắc cho tuyến Metro Bến Thành và ứng dụng sách nói.</p>
									<p class="lead" style="font-size: 1rem; text-align: justify;">Là Giám đốc mảng công nghệ, Việt luôn hướng tới phát triển hệ thống công nghệ của ClassOn từ những kỹ thuật cơ bản nhất, đảm bảo hê thống luôn có khả năng mở rộng, linh hoạt và đơn giản sử dụng. Việt luôn mong muốn xây dựng một nền tảng công nghệ vững chắc cho ClassOn, có khả năng thích nghi cao với sự thay đổi nhanh chóng và mạnh mẽ về công nghệ của tương lai.</p>
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</section>

        <%- include('../partials/footer') %>

	</div>

    <%- include('../partials/script') %>

</body>
</html>